.venv/
.venv*/
venv*/
.DS_Store
.pycache/
__pycache__/
*.pyc
.test_image.jpg
.node_workers/
.node_envs/
.app_settings/python_site/
.app_settings/server.lock
.appimage-tools/
.build_cpp_deps/
.local/
dist/
dist-electron/
build/
electron/node_modules/
electron/package-lock.json
*.spec
*.pt
*.pth
